<div class="layout">
  <div id="spinner" class="center">
    <i class="icon-spinner icon-spin icon-large icon-4x"></i>
  </div>
  <div id="player" class="hide center"></div>
</div>
<div id="items"></div>
