body {
   margin: 0;
   padding: 0;
}

.footer {
  text-align: center;
  color: #777777;
}

#items{
  margin-top: 20px;
}

.alert{
  margin: 0px 10px;
  cursor: pointer;
}

.alert:hover {
  font-weight: bold;
  border-width: 1px;
}

.center
{
  text-align: center;
}

.layout
{
  margin: 0px 10px;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}